<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>
    <body class="bg-white p-8" x-data>
        <header class="max-w-2xl py-8 text-center mx-auto">
            <h1 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10"><a href="/">Full Stack Soundboard</a></h1>
        </header>
        <div class="w-full py-8 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-5">
            {{ assets container="assets" }}
                <button @click="$refs.clip{{ index }}.play()" type="button" class="text-white antialiased relative py-3 px-5 bg-black hover:bg-gray-800 rounded">
                    {{ filename | buttonify }}
                        <div class="text-xs absolute top-0 left-0 -mt-2 -ml-2 px-1 bg-yellow-400 text-black">{{ name }}</div>
                        <div class="font-bold">{{ phrase }}</div>
                    {{ /filename | buttonify }}
                </button>
                <audio x-ref="clip{{ index }}"><source src="{{ url }}" type="audio/mpeg" /></audio>
            {{ /assets }}
        </div>
    </body>
</html>
